### Descriptive Statistics
<pre>
Statistics is a science of collecting, organizing, presenting, analyzing and interpreting the data in a effective way to get some kind of insights from the given dataset.
There are two types of statistics:
1.) Descriptive Statistics
2.) Inferential Statistics

So, what is Descriptive Statistics ?
Descriptive statistics are brief descriptive coefficients that summarize a given dataset, which can be either a representation of the entire or a sample of a population. Descriptive statistics are broken down into two parts: Measures of central tendency and Measures of Spread/Variability.

i) Measures of central tendency:
   A measure of central tendency is a single value that attempts to describe a set of data by          identifying the central position within that set of data.

</pre>

$ \succ Mean \\
\succ Median \\ 
\succ Mode $

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

In [3]:
df.describe()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
count,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50.000000
mean,41558.000000,18818.000000,4.060000,3060.000000,4.900190e+05,1.460000
std,26097.908979,12090.216824,1.517382,6241.434948,3.201358e+05,0.734291
min,5000.000000,2000.000000,1.000000,0.000000,6.420000e+04,1.000000
25%,23550.000000,10000.000000,3.000000,0.000000,2.587500e+05,1.000000
50%,35000.000000,15500.000000,4.000000,0.000000,4.474200e+05,1.000000
75%,50375.000000,25000.000000,5.000000,3500.000000,5.947200e+05,2.000000
max,100000.000000,50000.000000,7.000000,35000.000000,1.404000e+06,4.000000

### Mean
A mean is simply average of data and there are two types of mean. $ \\ $
1.) Sample Mean $ \\ $
2.) Population Mean

> Sample mean can be derived from:
$$ \overline{x} = \frac{1}{n} \sum_{i=1}^{n} x_i $$

> Population mean can be derived from:
$$ \mu = \frac{1}{N} \sum_{i=1}^{N} x_i $$

Example:

num = {4, 5, 3, 6, 6, 9, 10, 2, 5, 11}

$$ \overline{x} = \frac{1}{n} \sum_{i=1}^{n} x_i $$  

$$ \overline{x} = \frac{4+5+3+6+6+9+10+2+5+11}{10}  $$

$$ \overline{x} = \frac{61}{10}  $$

$$ \overline{x} = 6.1 $$

In [4]:
# Using predefined function mean()
print('Average Monthly income: ' + str(df['Mthly_HH_Income'].mean()))

# Without using predefined function mean()
summ = 0
for i in df['Mthly_HH_Income']:
    summ += i
print('Average Monthly income:', summ/len(df[['Mthly_HH_Income']]))

Average Monthly income: 41558.0
Average Monthly income: 41558.0

### Median
Median is a middle value of data after arranging the data in ascending order.

$$
sign(x) = \left\{
    \begin{array}\\
        \left( \frac{n+1}{2} \right)^{th} element & \mbox{if } \ n \ is \ odd \\ \\
        \frac{\left( \frac{n}{2} \right)^{th} element + \left( \frac{n}{2} + 1 \right)^{th} element}{2} & \mbox{if } \ n \ is \ even \\
    \end{array}
\right.
$$

Example:

num = {4, 5, 3, 6, 6, 9, 10, 2, 5, 11}

arranged_data_in_ascending = {2, 3, 4, 5, 5, 6, 6, 9, 10, 11}

Now, n is 10 (even), hence by using formula

$$ median = \frac{\left( 5+6 \right)}{2} $$

$$ median = 5.5 $$

In [5]:
# Using predefined function median()
print('Median for Monthly income: ' + str(df['Mthly_HH_Income'].median()))

# Without using predefined function median()
l = len(df['Mthly_HH_Income'])
lst = df['Mthly_HH_Income'].values.tolist()
lst.sort()
  
if l % 2 == 0:
    med1 = lst[l//2]
    med2 = lst[l//2 - 1]
    median = (med1 + med2)/2
else:
    median = lst[n//2]
print("Median for Monthly income: " + str(median))

Median for Monthly income: 35000.0
Median for Monthly income: 35000.0

### Mode

>Mode is the number which is occuring highest time in the dataset. $ \\ $
>num = {4, 5, 3, 6, 6, 9, 10, 2, 5, 11} $ \\ $
>Here, 5 and 6 are occuring 2 times; hence mode = 5 and 6 $ \\ $
>If only 1 number with highest frequency then only 1 value as a mode will be considered. $ \\ $
>If 3 numbers with same frequency then 3 values as a mode will be considered and so on. $ \\ $
>Any set of numbers with more than one mode is multimodal. $ \\ $
>$ \textbf{Note:} $ There is a chance that there is no mode in a dataset.

In [6]:
from collections import Counter

# Using predefined function mode()
print('Mode of Monthly income: ' + str(df['Mthly_HH_Income'].mode()[0]))

# Without using predefined function mode()
lst = df['Mthly_HH_Income'].values.tolist()
l = len(lst)
  
data = Counter(lst)
# print(data)

data1 = dict(data)
# print(get_mode)

mode = [k for k, v in data1.items() if v == max(list(data.values()))]
# print(mode)

if len(mode) == l:
    print("No mode found")
else:
    print("Mode of Monthly income is/are:", ', '.join(map(str, mode)))

Mode of Monthly income: 45000
Mode of Monthly income is/are: 45000

### Variance
Variance shows how our entire dataset is going to vary, across the mean.

$$ variance \ \sigma^2 = \frac{\sum_{i=1}^{N} \left( x_i - \mu \right)^2}{N}  $$

Let's assume the dataset is equally dispersed, then data could be available in both sides of the mean and we'll get a bell-shaped curve as shown below:

> $ \textbf{Note:} $ when $ \sigma^2 > \mu $ or if $ \sigma^2 $ increases, it means data available in dataset is too far from its mean.

<img src="bell_curve.jpg" width="400"/>

If the dataset is varying alot, we need to do treatment again and need to make a concentric dataset, which revolves around a one single center across the mean and so, it will be near to the mean. We can't give varying dataset to any ML/DL model.

We need a dataset in which $ \sigma^2 $ not too high and not too low.

If the variance is high, we can say that the dataset is distributed alot.

In [7]:
# Using predefined method variance and var()
from statistics import variance
print('Variance for Monthly income: ' + str(variance(df['Mthly_HH_Income'])))
# print('Variance for Monthly income: ' + str(df['Mthly_HH_Income'].var()))

# Without using predefined method 
lst = df['Mthly_HH_Income'].values.tolist()

def calvar(data):
    l = len(data)
    mean = sum(data)/l
    ans = 0.0
    for el in data:
        ans += (float(el) - mean)**2
    ans = ans/float(l-1)
    print('Variance for Monthly income:', ans)

calvar(lst)

Variance for Monthly income: 681100853.0612245
Variance for Monthly income: 681100853.0612245

### Standard Deviation
Standard deviation is a measure of dispersion of given dataset relative to its mean.
It is a square root of a variance.

$$ Standard Deviation \ \sigma = \sqrt{\frac{\sum_{i=1}^{N} \left( x_i - \mu \right)^2}{N}} $$

We can say that Standard deviation is exact distance from mean.

The $ \sigma $ we found, $ \\ $
For an approximately normal dataset, the values within one standard deviation(1$ \sigma $) of the mean account for about 68% of the total dataset; while within two standard deviations(2$ \sigma $) account for about 95%; and within three standard deviations(3$ \sigma $) account for about 99.7%

<img src="68-95-97.5_rule.png"/>

In [9]:
# Using predefined method std()
print('Standard deviation for Monthly income: ' + str(df['Mthly_HH_Income'].std()))

# Without using predefined method 
lst = df['Mthly_HH_Income'].values.tolist()
def stddev(data):
    l = len(data)
    mean = sum(data)/l
    ans = 0.0
    for el in data:
        ans += (float(el) - mean)**2
    ans = (ans/float(l-1)) ** 0.5
    return ans
print("Standard Deviation for Monthly income:",stddev(lst))

Standard deviation for Monthly income: 26097.908978713687
Standard Deviation for Monthly income: 26097.908978713687

### Covariance

If we want to find the relation between two features from the dataset, covariance canbe used. Covariance helps us to quantify the relationship between features, random variables in given dataset.

|size of house||Price|
|---||---|
|1000 sqm||100k\$|
|1500 sqm||150k\$|
|2000 sqm||200k\$|


> As the size of house increases -> Price increases

$$ cov(size,price) = \frac{1}{n} \sum_{i=1}^{n} (x_i - \mu_x)*(y_i- \mu_y) $$

if, $ x \uparrow y \uparrow \hspace{0.3cm} \rightarrow cov +ve $ \
if, $ x \uparrow y \downarrow \hspace{0.3cm} \rightarrow cov -ve $ \
if, $ x \downarrow y \downarrow \hspace{0.3cm} \rightarrow cov +ve $


We can also relate covariance and variance as shown below:

$$ variance \ \sigma^2(x) = \frac{\sum_{i=1}^{N} \left( x_i - \mu \right)^2}{N}  $$

$$ variance \ \sigma^2(x) = \frac{1}{n} \sum_{i=1}^{n} (x_i - \mu_x) * (x_i - \mu_x) $$

$$ cov(x,x) = var(x) $$

In [11]:
# Using preedefined method cov()
a = df['Mthly_HH_Income']
b = df['Mthly_HH_Income']
print('Covariance using predefined method:', a.cov(b))

# Without using predefined method
meana = sum(a)/len(a)
meanb = sum(b)/len(b)

def covar(a, b, meana, meanb):
    cov = 0.0
    for i in range(0, len(a)):
        cov += (a[i] - meana) * (b[i] - meanb)
    return (cov / (len(a)-1))
ans = covar(a, b, meana, meanb)
print('Covariance without using predefined method:', ans)

Covariance using predefined method: 681100853.0612245
Covariance without using predefined method: 681100853.0612245

### Correlation
Correlation helps to find how strongly 2 features (x & y) are correlated and also gives the direction of relationship.

Here we are going to discuss 2 types of correlation.
1) Pearson Correlation Coefficient $ \\ $
2) Spearman's rank correlation coefficient

#### Pearson Correlation Coefficient
$$ Pearson \ Correlation \ Coefficient = \rho (x,y) = \frac{cov(x,y)}{\sigma_x \sigma_y} $$ \
$$\rho (x,y) = -1 \leq \rho \leq 1 $$

Correlation is used in Feature Selection

If we have 2 features x and y and $ cov(x,y) = 1  ; \hspace{0.3cm} x\uparrow \ y\uparrow $

It means that if the value of x increases, value of y also increase. So we can conclude that both feature works same and hence we can drop one of them.

In [13]:
# Using predefined function corr()
ans1 = df['Mthly_HH_Expense'].corr(df['Mthly_HH_Income'])
print("Using corr() function:", ans1)

# Without using predefined function
def covar(a, b, meana, meanb):
    cov = 0.0
    for i in range(0, len(a)):
        cov += (a[i] - meana) * (b[i] - meanb)
    return (cov / (len(a)-1))

def stddev(data):
    l = len(data)
    mean = sum(data)/l
    ans = 0.0
    for el in data:
        ans += (float(el) - mean)**2
    ans = (ans/float(l-1)) ** 0.5
    return ans

def correl(covvar, sd):
    return covvar/sd

a = df['Mthly_HH_Expense']
b = df['Mthly_HH_Income']
meana = sum(a)/len(a)
meanb = sum(b)/len(b)
cv = covar(a, b, meana, meanb)
dataa = a.values.tolist()
datab = b.values.tolist()
stda = stddev(dataa)
stdb = stddev(datab)
# print(stda)
# print(stdb)
std = stda * stdb
# print(std)
ans = correl(cv, std)
print("Without using any predefined function:", ans)

Using corr() function: 0.6492152549316462
Without using any predefined function: 0.6492152549316461

#### Spearman's rank correlation coefficient
Pearson always assumes that given data is linear.

Spearman's rank correlation coefficient gives correlation even if given data is non-linear.

<img src='Spearman_Corr.jpg' width=250/>

Formula,

$$ r_s = \rho_{rg_x,rg_y} = \frac{cov(rg_x,rg_y)}{\sigma_{rg_x}\sigma_{rg_y}} $$
where,
- $\rho$ is a pearson corelation coefficient and applied to rank variables. 
- $ cov(rg_x,rg_y) $ is the covariance of the rank variables. 
- $ \sigma_{rg_x}  \sigma_{rg_y} $ are the standard deviation of the rank variables.

Another formula to find coefficient,
$$ r_s = 1 - \frac{6\sum d_{i}^{2}}{n(n^2 -1)} $$

$ d_i  = rg(x_i) - rg(y_i)$ is the difference between two rank of each observation. \
$ n $ is no. of observation.


Example:

The raw data below is used to show the correlation between IQ of the person with the no. of hours spent infront of tv per week.

#### Formula to find spearman rank correlation coefficient is
$$ r_s = 1 - \frac{6\sum d_{i}^{2}}{n(n^2 -1)} $$

here, firstly we need to calculate $ d_i^2 $. For that, we need to follow below steps.
1) Sort the data by the 1st column $ x_i $. create new column $ x_i $ and assign it the ranked values from $ 1,2,3...,n $ \
2) Next, sort the data by the 2nd column $ (y_i) $, create 4th column $ y_i $ and similarly assign the ranked values $ 1,2,3...,n $ \
3) Create a 5th column $ d_i $ to hold the difference between two rank column $ (x_i \&  y_i) $ \
4) Create one final column, $ d_i^2 $ to hold the value of column $ d_i $ squared.

These four steps followed in the image.

Now we need to calculate Spearman's rank correlation coefficient.

$$ r_s = 1 - \frac{6 \sum d_i^2}{n(n^2 - 1)} $$ \
$$ r_s = 1 - \frac{6*194}{10(100 - 1)} $$ \
$$ r_s = -0.17575 $$ \
which shows that relation between IQ and no. of hours spent on tv is very less.

### Normal Distribution/Gaussian Distribution

If a dataset is equally distributed across the plane or dispersed equally across the mean, then we can plot a bell shaped curve as shown below.

<img src="bell_curve.jpg" width="400"/>

#### Left-Skewed Distribution
Suppose we have a dataset; {1, 2, 3, 4, 5, 2, 4, 1, 2, 100, 110}, here dataset is dispersed between 1 and 110.

In this case we will get graph something like below. It is known as left skewness. We can't pass this data in any ML or DL model. For that we need to normalize the data, first. Then we'll get the perfect bell-shaped curve.

<img src="skewed-left.png">

To get a bell-shaped curve from this data we can apply any scaling technique on data. \
For example, \
applying square root on data. \
If we apply sqare root on above data then \
$ \sqrt{1} = 1 $  \
$ \sqrt{100} = 10 $ \
Now our data ranges between 1 to 10, using this data we can get somewhat bell-shaped curve. \
we can also perform log operation for scaling \
If we apply log then \
$ log_{10}(1) = 0 $ \
$ log_{10}(100) = 2 $ \
here we get our data ranges from 0 to 2, which will give us more good bell-shaped curve. 

Here, we are just trying to change the scale of data, we are not changing the actual value of data or actual significance of data. 

There is one more thing that, we have only 1 dimensional data and we are plotting 2 dimensional graph without having 2d data. 

And the reason is we can find value of y using the given data from below equation. 

$$ y = \frac{1}{\sigma \sqrt{2 \pi}} e^{\frac{-1}{2} (\frac{x - \mu}{\sigma})^2}, -\infty \leq x \leq +\infty $$

we can check the curve is bell-shaped or left-skewed or right-skewed using above formula on given dataset.

when we normalize the data $ \mu $ and $ \sigma $ could be anything.

#### Standard Normal Distribution
If $ \mu = 0 $ and $ \sigma = 1 $, in that case dataset is called Standard normal distributed daatset and if we have Standard Normal Distributed dataset, we will always have a perfect bell-shaped curve.

Suppose we have normally distributed dataset and we are getting bell-shaped graph but $ \mu \neq 0 $ and $ \sigma \neq 1 $, then we need to do something that shown in below graph.

<img src='standardizing.svg'>

As shown in green curve $ \mu \& \sigma $ are not zero and one, respectively. If somehow we can shift this graph to the left side or we can shift entire data in a left direction, then we can get curve like blue curve in which $ \mu = 0 $ and $ \sigma = 1 $

We can do this using Z-statistics or Z-formula
$$ Z = \frac{x - \mu}{\sigma} $$

if the dataset is d = {1,2,3,1,2,1,100} then after applying Z-formula to every data in dataset we will get dataset like {-0.42,-0.39,-0.36,-0.42,-0.39,-0.42,2.44} which is standardized dataset. 

Now if we find $ \mu \ \& \ \sigma$
then,
$ \mu = 6.334 e^{-17} \hspace{0.2cm} \& \hspace{0.2cm} \sigma = 1 $

Z-statistics says that area enclosed by bell-shaped curve is always 1.

In [14]:
from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()
new_df = df.drop(['Highest_Qualified_Member'],axis=1)
standardized_data = pd.DataFrame(scalar.fit_transform(new_df))
standardized_data.head()

          0         1         2         3         4         5
0 -1.415024 -0.903857 -0.705664 -0.171557 -1.343624 -0.632815
1 -1.376317 -0.987408 -1.371384 -0.009711 -1.294021 -0.632815
2 -1.221492 -1.196287 -1.371384 -0.495249 -1.190272 -0.632815
3 -1.221492 -1.405165 -2.037105 -0.495249 -1.239496 -0.632815
4 -1.124727 -0.569652 -1.371384 -0.009711 -1.082358 -0.632815

### Features of Normal Distribution

* The mean, mode and median are all equal.
* The curve is symmetric at the center (i.e. around the mean, Î¼).
* Exactly half of the values are to the left of center and exactly half the values are to the right.
* The total area under the curve is 1.

### Positively skewed and Negatively skewed Normal Distribution
Sometimes we get these types of plots when we normalize the data.

<img src='neg-pos_skewed.png'>

Left graph from above figure shows the Negative skewed Normal Distribution and Right graph shows the Positive skewed Normal Distribution. $ \\ $ 
At this moment, Standardization is a good idea before applying this data to ML or DL model.

### Effect on Mean, Median and Mode due to skewness
- If the distribution of data is skewed to the $ \textbf{left} $, the mean is less than the median, which is often less than the mode. 
$ \\ $
- If the distribution of data is skewed to the $ \textbf{right} $, the mode is often less than the median, which is less than the mean.

<img src='MMM-skewness.png' width=400>